{{ define "main" }}
<h1>{{ .Title }}></h1>

<div class="image-grid">
    {{ range .Pages.ByPublishDate }}
    {{ $image_path := printf "images/%s.png" .Title | relURL }}

    <div class="image-container">
        <a class="nav-link" href="{{ .RelPermalink }}">
            <img src="{{ $image_path }}" class="grid-image">
            <div class="centered">{{ replaceRE "_" " " .Title }}</div>
        </a>
    </div>

    <!-- @TODO: Shove a date in here somehow -->
    <!-- {{ partial "date-and-tags.html" . }} -->
    {{ end }}
</div>
{{ end }}
